.track {
    text-align: center;
    border: 1px solid gray;
    margin: 20px;
    padding: 5px;
    display: flex;
    width: 200px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 20%;
    cursor: pointer;
}

.track__img {
    margin-top: 2%;
    width: 60%;
    height: 70%;
}
