// site's colors
$primary-color: #db137f;
$secondary-color: #f6cd54;

// circle borders
$circle-border: 50%;

// font-sizes
$xxsmall: 0.625rem; // 10px;
$xsmall: 0.75rem; // 12px;
$small: 0.875rem; // 14px;
$basic: 1rem; // 16px;
$medium: 1.125rem; // 18px;
$large: 1.25rem; // 20px;
$xlarge: 1.5rem; // 24px;
$xxlarge: 2.125rem; // 34px;
$huge: 2.625rem; // 42px;
