@import "../../helpers/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    color: $primary-color;
    background-color: $secondary-color;
    font-size: $large;
}

.header__logo {
    font-size: $xxlarge;
    color: $primary-color;
    padding: 5px;
    cursor: pointer;
}

.header__navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__navigation__links {
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: $primary-color;
    line-height: 48px;
    &:hover {
        border-bottom: 2px solid $primary-color;
        -webkit-animation: pulsate-bck 0.3s ease-in-out both;
        animation: pulsate-bck 0.3s ease-in-out both;
    }
}
