.albumsLink__album {
    text-align: center;
    border: 1px solid gray;
    margin: 20px;
    padding: 5px;
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 20%;
}

.albumsLink__album__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.albumsLink__album__img {
    margin-top: 2%;
    width: 70%;
    height: 80%;
}
