html,
body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100vh;
    // background-color: green;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -60px;
}
.push {
    height: 60px;
}
a {
    text-decoration: none;
}
