.musicPlayer {
    width: 20%;
    height: 20%;
    position: fixed;
    bottom: 60px;
    right: 0px;
}

.musicPlayer__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.musicPlayer__container__songTitle {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.musicPlayer__container__controls {
    width: 24px;
    height: 24px;
    padding: 4px;
    cursor: pointer;
}

.musicPlayer__container__controls-hidden {
    width: 24px;
    height: 24px;
    padding: 4px;
    cursor: pointer;
    visibility: hidden;
}
